<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.telemedicine.telecare" >

    <!-- Permissions For Location -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <!-- Permissions For Network -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Permissions For Image -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <!-- Permissions For Contact -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <!--Permission For Notification-->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:name="com.telemedicine.telecare.base.AppController"
        android:allowBackup="false"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher.FullDark" >

        <activity
            android:name="com.telemedicine.telecare.activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher.FullDark"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.telemedicine.telecare.activity.PatientHomeActivity"
            android:label="@string/home"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launcher.FullDark"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.telemedicine.telecare.activity.DoctorHomeActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launcher.FullDark"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.telemedicine.telecare.activity.AdminHomeActivity"
            android:label="@string/home"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launcher.FullDark"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity">
        </activity>

        <activity
            android:name="com.telemedicine.telecare.activity.SignInActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.Launcher.FullDark"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <activity
            android:name="com.telemedicine.telecare.activity.SignUpActivity"
            android:theme="@style/AppTheme.Launcher.FullDark"
            android:windowSoftInputMode="adjustPan"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />

        <!-- Crash Analytics -->
        <meta-data
            android:name="firebase_crashlytics_collection_enabled"
            android:value="true" />

        <!-- App Performance -->
        <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />

        <!-- File Share -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true" >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_path" />
        </provider>

        <!-- Notification -->
        <service
            android:name="com.telemedicine.telecare.service.MatrikaNotificationService"
            tools:ignore="ExportedService,InnerclassSeparator"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher_foreground" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorWhite" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="com.telemedicine.telecare" />

        <!--Network-->
        <receiver android:name="com.telemedicine.telecare.receiver.NetworkStatusChangeReceiver"/>

        <!--Reminder-->
        <receiver android:name="com.telemedicine.telecare.receiver.AutoStartReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.telemedicine.telecare.receiver.ReminderReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.intent.action.NOTIFY" />
            </intent-filter>
        </receiver>
    </application>

</manifest>